stages:
  - test

default:
  image: composer:2
  before_script:
    - apk add --no-cache git sqlite-dev
    - docker-php-ext-install pdo_sqlite

variables:
  COMPOSER_CACHE_DIR: "$CI_PROJECT_DIR/.composer/cache"

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - vendor/
    - .composer/cache/

php_tests:
  stage: test
  script:
    - composer validate --strict
    - composer install --prefer-dist --no-interaction --no-progress
    - vendor/bin/pest -d --colors=always
